* {
    margin: auto;
    padding: auto;
}

.header {
    height: 100px;
    background-color: grey;
}
.body {
    height: 600px;
    background-color: bisque;
}
.footer {
    height: 70px;
    background-color: darkgrey;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.1);
}
.leftmenu{
    width: 20%;
    line-height: 100Px;
    font-size: 23px;
    float: left;
}
.leftmenu h4{
    padding-left: 60px;
    font-weight: bold;
    color: white;
    font-size: 30px;
    cursor: pointer;
    font-family: 'montserrat', sans-serif;
}
.rightmenu{
    width: 60%;
    height: 100Px;
    float: right;
}
.rightmenu ul{
    padding-right: 30px;
}
.rightmenu ul li{
    display: inline-block;
    font-family: 'montserrat', sans-serif ;
    list-style: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    line-height: 100px;
    margin-left: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.rightmenu ul li:hover{
    color: #00ccff;
}
#firstlist{
   color: #00ccff; 
}
.text{
    width: 100%;
    /*margin-top:185px ;*/
    padding-top: 185px;
    text-transform: uppercase;
    text-align: center;
    color: gray;

}
.text h4{
    font-size: 14px;
    font-family: 'open sans', sans-serif;
}
.text h1{
    color: green;
    font-size: 62px;
    font-family: 'montserrat', sans-serif ;
    font-weight: 700px;
    margin: 14px 0px;
}
.text h3{
    font-size: 15px;
    font-family: 'open sans', sans-serif;
}
.btn{
    background-color: white;
    color: rgb(31, 174, 24);
    font-family: 'montserrat', sans-serif ;
    border: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    width: 350px;
    margin-top: 25px;
    border: 3px solid rgb(31, 174, 24);
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}
.footer {
    display: absolute;
    text-align: center;
}
/*.footer ul {
    float: left;
    display: relative;
    width: 30%;
    justify-content:space-around;
    font-family: sans-serif;
    color: white;
    padding: 20px;
}
.footer li {
    padding: 10px;
    list-style: none;
    font-weight: bold;
}*/
.copyright {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    font-size: 20px;
}